[Unit]
Description=Amazon Alexa Smart Screen Service
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=python3 /home/__USER__/DIY-Echo-Show/snowboy/voiceactivation.py
ExecStart=/home/__USER__/DIY-Echo-Show/Alexa/start.sh

WorkingDirectory=/home/__USER__/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=__USER__

[Install]
WantedBy=multi-user.target
